:root {
    --screen-color: #c2c5aa;
    --button-bg: #faa307;
    --button-bg-hover: #f48c06;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
}

#title {
    text-align: center;
}

.container {
    border: .3rem solid #14213d;
    border-radius: 1.5rem;
    width: 30rem;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #3d405b8f;
}

#calc-brand {
    margin: 0;
    margin-bottom: 1.2rem;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#calc-brand span {
    font-size: 2.2rem;
    color: #d00000;
}

#screen {
    border: .3rem solid #c2c5aa;
    border-radius: .5rem;
    background-color: var(--screen-color);
    height: 4.2rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: .5rem;
    justify-content: flex-end;
}

.buttons {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    margin: 1rem 0;
}

.button {
    width: 4.2rem;
    height: 4.2rem;
    gap: 1.2rem;
    background-color: var(--button-bg);
    outline: none;
    border: 1px solid transparent;
    border-radius: .7rem;
    transition: all .4s ease;
    font-size: 2rem;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: var(--button-bg-hover);
}

.small-text {
    text-align: center;
    display: block;
}